<div class='wrapper'>
  <div class="container">
      
      <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-5 col-md-offset-1">
                     <h2>iRentBackyard</h2>
                        <p>At iRent Backyard our purpose is to help people find great Backyards to do parties or have a get together</p>
                        
                        <p>Cumming, GA</p>
                        
                        <p></p>+1 (404) 666-5864.</p>
             </div>

              <div class="col-lg-2 col-md-2 col-sm-2 col-md-offset-1">
             
                  <h2 class="footer_1">Resources</h2>
                    <ul class="footer_list">
                        <li><%= link_to "How it works", '#' %></li>
                        
                        <li><%= link_to "Terms of Service", '#' %></li>
                        <li><%= link_to "Articles and Tips", '#'  %></li>
                    </ul>
                </div>
          
            <div class="col-lg-3 col-md-3 col-sm-3">
             
                  <h2 class="footer_1">Company</h2>
                    <ul class="footer_list">
                        
                        <li><%= link_to "Help Center", '#'  %></li>
                        <li><%= link_to "About Us", '#' %></li>
                        
                      
                    </ul>
                </div>
        </div>
    </div>
</div>

<div style='background-color:black;color:white;'>
  <div class= 'container'>
                         <div class="col-lg-5 col-md-5 col-sm-5 col-md-offset-1">
                             <p></p>Copyright iRentBackyard © 2016. All Rights Reserved</p>
                         </div>
                       <div class="col-lg-4 col-md-4 col-sm-4 col-md-offset-2">
                         
                          <!--<h2 class="footer_1" style="text-align:center;">Follow Us</h2>-->
                            <div class="footer_social">
                                <a href="<%= AppConstants::FACEBOOK_PAGE_URL %>" target='_blank' class="facebook-hover social-slide"></a>
                                <a href="<%= AppConstants::GOOGLE_PLUS_URL %>" target='_blank' class="google_plus-hover social-slide"></a>
                                <a href="<%= AppConstants::YOUTUBE_URL %>" target='_blank' class="youtube-hover social-slide"></a>
                                <a href="<%= AppConstants::TWITTER_URL %>" target='_blank' class="twitter-hover social-slide"></a>
                                <a href="<%= AppConstants::LINKEDIN_URL %>" target='_blank' class="linkedin-hover social-slide"></a>
                                <a href="<%= AppConstants::TUMBLR_URL %>" target='_blank' class="tumblr-hover social-slide"></a>
                                <a href="<%= AppConstants::FEED_BURNER_URL %>" target='_blank' class="rss-hover social-slide"></a>
                                <a href="<%= AppConstants::PINTEREST_URL %>" target='_blank' class="pinterest-hover social-slide"></a>
                            </div>
                       
                     </div>

</div>
</div>




<style>
    


</style>