
  <div class="modal-dialog" role="document" style='width:400px;'>
    <div class="modal-content">
     <div class='media-login'>
              <div class='facebook-login'>
                  
                 <%#= link_to "<div class='facebook-login-btn'><i class='icon-facebook'></i>&nbsp;&nbsp;Facebook</div>".html_safe, user_omniauth_authorize_path(:facebook, :params => params), :class => "popup", "data-width" => 600, "data-height" => 500, :onclick => "return closeloginform();" %>
              </div>
              <div class='divider'></div>
              <div class='google-plus-login'>
                <%#= link_to "<div class='google-plus-login-btn'><i class='icon-google-plus'></i>&nbsp;&nbsp;Google+</div>".html_safe,user_omniauth_authorize_path(:google_oauth2, :params => params), :class => "popup", "data-width" => 600, "data-height" => 500, :onclick => "return closeloginform();"  %>
              </div>
        </div><br><br><br>
      <div class="modal-body">
          
         <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal",:id=>"basic_validate"}, :remote => true ) do |f|%>
            <div id="validate"></div>
             <%= wrap_prepend_input_field("#{f.email_field :email, :class => 'form-control form-control-input', :placeholder => 'Email'}", "icon-user", :autofocus => true) %></br>
              <%= wrap_prepend_input_field("#{f.password_field :password, :class => 'form-control form-control-input', :placeholder => 'Password'}", "icon-lock") %><br>
              <% if devise_mapping.rememberable? -%>
                <div class="remember-me">
				<%= f.check_box :remember_me, :style => 'width:4%; position:relative;top: 2px;'%>&nbsp;<%= f.label :remember_me %></div>
              <% end %>
              <div class="form-actions">
                <div>
                <center><%= f.submit "Sign In", :class => "btn btn-info" %></center>
            
                </div>
        
               </div>
               
               
        <% end %>
    </div>
    
     <div class="modal-footer">
          <div class='col-md-6'>Don't have an Account</div>
          <%#= link_to "Sign Up", {:controller => "/web",:action => "register_user"}, :role => 'button', 'data-toggle' => 'modal', 'data-target' => '#popup_div', 'data-backdrop' => "static", :remote => true %>
            <div class='col-md-offset-3 col-md-3 btn btn-default'><%= link_to "Sign Up", {:controller => "web",:action => "register_user"}, :role => 'button', 'data-toggle' => 'modal', 'data-target' => '#popup_div', :remote => true %></div>
          
      </div>
  </div>
