
<div id='banner1'>
       <div class='container'>
        <div class="banner1_desc">
            <center>
          <h1><b>Create Memories          </b></h1>
          <h4><b>Rent the Backyard          </b></h4> <br>
       
       
        <div class="booking_widget">
            
            <div class = row>
                
                
                <h2>Search over 2 million backyards in 191+ countries</h2>
            </div><br>
             <div class = row>
                 <form class="form-inline">
                  <div class="form-group">
                    <!--<label for="email">Email address:</label>-->
                    <input type="email" class="form-control" id="email">
                  </div>
                          <div class="form-group">
                                      <!-- <div class="dropdown">-->
                                      <!--  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">category-->
                                      <!--  <span class="caret"></span></button>-->
                                      <!--  <ul class="dropdown-menu">-->
                                      <!--    <li><a href="#">HTML</a></li>-->
                                      <!--    <li><a href="#">CSS</a></li>-->
                                      <!--    <li><a href="#">JavaScript</a></li>-->
                                          
                                      <!--  </ul>-->
                                      <!--</div>-->
                                      
                                      <%= select_tag "city_type", options_for_select(AppConstants::CATEGORY_ARRAY), :prompt => "-- All Categories --", :class =>'btn btn-default dropdown-toggle' %>
                                       
                                      
                                      <%#= select_tag "search_from", "<option>first_name</option><option>last_name</option><option>city_name</option>".html_safe%>
                      </div>
                  <!--<div class="form-group">-->
                    <!--<label for="pwd">Password:</label>-->
                  <!--  <input type="password" class="form-control" id="pwd">-->
                  <!--</div>-->
                  <!--<div class="checkbox">-->
                  <!--  <label><input type="checkbox"> Remember me</label>-->
                  <!--</div>-->
                  <button type="submit" class="btn btn-info">Search</button>
                </form>

             </div>
             
        </div>
           
        </center>
     

        
        </div>
      </div>  
</div>
<div id='how_it_works'>
    <div class='container'>
        <div class="row">
            <center>
                   <h1>How it Works</h1> 
                <h4>Bringing business and community members together.</h4>
        </center><br>
        </div>
           <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <%= image_tag "web/how_it_works1.PNG" %>
                  <center>
                      <div class="caption">
                        <h3>Find Businesses</h3>
                        <p>Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
                      </div>
                  </center>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                   <%= image_tag "web/how_it_works2.PNG" %>
                   <center>
                      <div class="caption">
                        <h3>Review Listings</h3>
                        <p>Get valuable insights about listings and tell other readers about your experiences by leaving reviews for businesses.</p>
                      </div>
                    </center>  
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                   <%= image_tag "web/how_it_works3.PNG" %>
                  <center>
                      <div class="caption">
                        <h3>Make a Reservation</h3>
                        <p>Easily setup an appointment directly from the business listing page using our integrated booking options.</p>
                      </div>
                  </center>
                </div>
              </div>
            </div>
            
    </div>
</div>
<br>

<div id='banner2'>
       <div class='container'>
        <div class="banner2_desc">
            <center>
          <h1><b>Become A Host  </b></h1><br>
          <small><b>Earn money sharing your Backyards.</b></small><br><br>
          <button type="button" class="btn btn-info btn-lg">Become a Host</button>
         </center>
        </div>
      </div>  
</div>

<br>
<div id='party_types'>
    <div class='container'>
        <div class="row">
            <center>
                   <h1>Where would you like to party?</h1> 
                <h4>Discover your ideal party location.</h4>
        </center><br>
        </div>
           <div class="row">
               
               <%= link_to listing_category_office_get_together_path do %>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail office_party">
                  <%#= image_tag "web/how_it_works1.PNG" %>
                  <center>
                      <div class="caption">
                        <h2>Office get together</h2>
                      </div>
                  </center>
                </div>
              </div>
              <% end %>
              <%= link_to listing_category_general_parties_path do %>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail general_party">
                   <center>
                      <div class="caption">
                        <h2>Genaral Parties</h2>
                      </div>
                    </center>  
                </div>
              </div>
              <% end %>
              <%= link_to listing_category_pool_party_path do %>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail pool_party">
                  <center>
                      <div class="caption">
                        <h2>Pool Party</h2>
                      </div>
                  </center>
                </div>
              </div>
              <% end %>
            </div>
            
    </div>
</div>
        
<style>
    .caption h2{
        color:white;
        padding-top:100px;
    }
    
</style>
    